extends ../shared/template
block content
  .row
    .col-xs-2
    .col-xs-8
      table.table
        thead
          tr
            th Photo
            th Email
            th Phone
            th Twitter
            th Facebook
        tbody
          each person in users
            tr
              td: a.thumbnail.indexPhoto(href='#'): img(src=person.photo)
              td: a(href='/users/#{person.email}')=person.email
              td=person.phone
              td=person.twitter
              td=person.facebook
    .col-xs-2


block scripts

