extends ../shared/template
block content
  .row
    .col-xs-6
      h2=client.email
      h3=client.tagline
      .row
        .col-xs-3
        .col-xs-6
          a.thumbnail(href='#')
            img(src=client.photo)
        .col-xs-3
      h3=client.phone
      h3: a(href=client.twitter, target='_blank')=client.twitter
      h3: a(href=client.facebook, target='_blank')=client.facebook
    .col-xs-6
      .row
        .panel.panel-default
          .panel-body
            .col-xs-2
            .col-xs-8
              form(role-'form', method='post', action='/message/#{client._id}')
                .radio
                  label
                    input(type='radio', name='mtype', value='text', checked=true)
                    span Text
                .radio
                  label
                    input(type='radio', name='mtype', value='email')
                    span Email
                .radio
                  label
                    input(type='radio', name='mtype', value='text')
                    span Internal
                .form-group
                  label(for='subject') Subject
                  input.form-control#subject(type='text', name='subject')
                .form-group
                  label(for='message') Message
                  textarea.form-control#message(name='message')
                button.btn.btn-success(type='submit') Send Message
            .col-xs-2


block scripts

